<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input v-model="search" />
    <div v-for="user in filteredUsers" key="first">
      {{user}}
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data() {
        return {
          search: "",
          users: ['佐藤','山田','鈴木','田中']
        };
      },
      computed: {
        filteredUsers() {
          return this.users.filter(user =>
            user.includes(this.search)
          );
        },
      },
    });
  </script>
  <style>
    input {
      display: box;
      border-color: rgb(117, 243, 117);
      border-width: 3px;
      border-radius: 5px;
    }
  </style>
</body>